
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.label-style {
    margin: 3px 0px;
    padding: 0px 4px;
    width: 65px;
    border: 1px solid rgb(204,204,204);
    border-radius: 5px;
    color: rgb(204,204,204);
    font-weight: bold;
}